<%= form_for(@retro) do |f| %>
  <% if @retro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retro.errors.count, "error") %> prohibited this retro from being saved:</h2>

      <ul>
      <% @retro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :team_id %>
 
    <%= f.hidden_field :comment_type, :value => "Aha" %>
 
    <%= f.text_field :comment %>
 
<% end %>
