<h1>New retro</h1>

Continue
<%= render 'continue_form' %>
<br/>

Start
<%= render 'start_form' %>
<br/>
Stop
<%= render 'stop_form' %>
<br/>
Aha
<%= render 'aha_form' %>

<%= link_to 'Back', retros_path %>
